<div class="tabs">
  <button routerLink="/stdinfo">
    <div class="tabs-item">
      <ion-icon
        name="home"
        [class.active]="activeTab === ActiveTab.studentInfo"
        class="size"
      ></ion-icon>
      Home
    </div>
  </button>
  <button routerLink="/regis">
    <div class="tabs-item">
      <ion-icon
        name="create"
        [class.active]="activeTab === ActiveTab.regis"
        class="size"
      ></ion-icon>
      Regis
    </div>
  </button>
  <button routerLink="/regisout">
    <div class="tabs-item">
      <ion-icon
        name="clipboard"
        [class.active]="activeTab === ActiveTab.regisOutcome"
        class="size"
      ></ion-icon>
      Result
    </div>
  </button>
  <button routerLink="/grade">
    <div class="tabs-item">
      <ion-icon
        name="school"
        [class.active]="activeTab === ActiveTab.grade"
        class="size"
      ></ion-icon>
      Grade
    </div>
  </button>
  <button routerLink="/withdraw">
    <div class="tabs-item">
      <ion-icon
        name="sad"
        [class.active]="activeTab === ActiveTab.withdraw"
        class="size"
      ></ion-icon>
      Withdraw
    </div>
  </button>
</div>
