.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: whitesmoke;
  height: 50px;
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cur;
  }
  .size {
    font-size: 20px;
  }
  button {
    background-color: whitesmoke;
  }
  button:focus {
    outline: 0px;
  }
}

.active {
  color: #de5c8e;
}
