.tabs{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:whitesmoke;
    height: 30px;
    &-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: cur;
    }
    &-regis {
        font-family: cur;
    }
    &-out {
        font-family: cur;
    }
    &-grade {
        font-family: cur;
    }
    &-w {
        font-family: cur;
    }
}