@import "src/theme/variables.scss";
.login {
  &-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &-text {
      font-family: cub;
      font-size: 28px;
      padding-left: 40px;
      align-self: flex-start;
    }
  }
  &-logo {
    font-family: cur;
    font-size: 28px;
    padding-top: 25px;
    padding-left: 20px;
  }
  &-form {
    align-self: center;
    font-family: cur;
    width: 100%;
    padding: 10px 20px 0px;
    input {
      width: 100%;
      border-radius: 4px;
      border: 5px;
      height: 48px; 
    }
    &-error {
      height: 20px;
    }
    &-btn {
      background-color: #eff0f1;
      border: 5px;
      border-radius: 4px;
      height: 48px;
      color: #b0b0b0;
      width: 100%;
      font-size: 16px;
    }
    &-btn1 {
        background-color:#de5c8e;
        border: 5px;
        border-radius: 4px;
        height: 48px;
        color: white;
        width: 100%;
        font-size: 16px;
      }
  }
  background-color: $main-color;
  height: 100%;
  width: 100%;
}
